[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = US
ST = Louisiana
L = Baton Rouge
O = ExampleCorp, LLC
OU = Engineering
CN = dev.examplecorp.io

[req_ext]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = dev.examplecorp.io
DNS.2 = *.dev.examplecorp.io
DNS.3 = examplecorp.io
